In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("train.csv")

In [4]:
data.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [5]:
data.Alley.isnull().sum()

1369

In [6]:
data.Alley.value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [7]:
data.Alley.fillna(value = "Grvl", inplace = True)

In [8]:
data.Alley.isnull().sum()

0

In [9]:
data.LotFrontage.isnull().sum()

259

In [10]:
LotFrontage_mean = data.LotFrontage.mean()
data.LotFrontage.fillna(value = LotFrontage_mean, inplace = True)

In [11]:
data["new_column"] = data["1stFlrSF"] - data["2ndFlrSF"]

In [12]:
data.new_column

0          2
1       1262
2         54
3        205
4         92
5        230
6       1694
7        124
8        270
9       1077
10      1040
11        40
12       912
13      1494
14      1253
15       854
16      1004
17      1296
18      1114
19      1339
20       -60
21      1108
22      1795
23      1060
24      1060
25      1600
26       900
27      1704
28      1600
29       520
        ...
1430    -370
1431     958
1432     968
1433     132
1434    1126
1435    1537
1436     864
1437    1932
1438    1236
1439     355
1440     675
1441     848
1442      45
1443     952
1444    1422
1445     913
1446    1188
1447     350
1448     246
1449     630
1450       0
1451    1578
1452    1072
1453    1140
1454    1221
1455     259
1456    2073
1457      36
1458    1078
1459    1256
Name: new_column, Length: 1460, dtype: int64

In [13]:
data.new_column[data.new_column < 0] = 0
data.new_column

0          2
1       1262
2         54
3        205
4         92
5        230
6       1694
7        124
8        270
9       1077
10      1040
11        40
12       912
13      1494
14      1253
15       854
16      1004
17      1296
18      1114
19      1339
20         0
21      1108
22      1795
23      1060
24      1060
25      1600
26       900
27      1704
28      1600
29       520
        ...
1430       0
1431     958
1432     968
1433     132
1434    1126
1435    1537
1436     864
1437    1932
1438    1236
1439     355
1440     675
1441     848
1442      45
1443     952
1444    1422
1445     913
1446    1188
1447     350
1448     246
1449     630
1450       0
1451    1578
1452    1072
1453    1140
1454    1221
1455     259
1456    2073
1457      36
1458    1078
1459    1256
Name: new_column, Length: 1460, dtype: int64

In [14]:
data.LotShape.unique()

array(['Reg', 'IR1', 'IR2', 'IR3'], dtype=object)

In [15]:
labelencoder = LabelEncoder()
data.LotShape = labelencoder.fit_transform(data.LotShape)    # inplace True 
data.LotShape[0:30]

0     3
1     3
2     0
3     0
4     0
5     0
6     3
7     0
8     3
9     3
10    3
11    0
12    1
13    0
14    0
15    3
16    0
17    3
18    3
19    3
20    0
21    3
22    3
23    3
24    0
25    3
26    3
27    3
28    0
29    0
Name: LotShape, dtype: int64

In [16]:
pd.get_dummies(data.LotShape,prefix=['LotShape'])       ## one hot encoding

      ['LotShape']_0  ['LotShape']_1  ['LotShape']_2  ['LotShape']_3
0                  0               0               0               1
1                  0               0               0               1
2                  1               0               0               0
3                  1               0               0               0
4                  1               0               0               0
5                  1               0               0               0
6                  0               0               0               1
7                  1               0               0               0
8                  0               0               0               1
9                  0               0               0               1
10                 0               0               0               1
11                 1               0               0               0
12                 0               1               0               0
13                 1               0               0               0
14                 1               0               0               0
15                 0               0               0               1
16                 1               0               0               0
17                 0               0               0               1
18                 0               0               0               1
19                 0               0               0               1
20                 1               0               0               0
21                 0               0               0               1
22                 0               0               0               1
23                 0               0               0               1
24                 1               0               0               0
25                 0               0               0               1
26                 0               0               0               1
27                 0               0               0               1
28                 1               0               0               0
29                 1               0               0               0
...              ...             ...             ...             ...
1430               0               0               1               0
1431               1               0               0               0
1432               0               0               0               1
1433               1               0               0               0
1434               0               0               0               1
1435               0               0               0               1
1436               0               0               0               1
1437               0               0               0               1
1438               0               0               0               1
1439               0               0               0               1
1440               1               0               0               0
1441               0               0               0               1
1442               0               0               0               1
1443               0               0               0               1
1444               0               0               0               1
1445               0               0               0               1
1446               1               0               0               0
1447               0               0               0               1
1448               0               0               0               1
1449               0               0               0               1
1450               0               0               0               1
1451               0               0               0               1
1452               0               0               0               1
1453               0               0               0               1
1454               0               0               0               1
1455               0               0               0               1
1456               0               0               0               1
1457               0               0               0               1
1458               0               0               0               1
1459               0               0               0               1

[1460 rows x 4 columns]

In [17]:
train, test = train_test_split(data, test_size = 0.4)

In [18]:
#train

In [19]:
data.shape

(1460, 82)

In [20]:
train.shape

(876, 82)

In [21]:
test.shape

(584, 82)

In [22]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,new_column
0,1,60,RL,65.0,8450,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,2
1,2,20,RL,80.0,9600,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,1262
2,3,60,RL,68.0,11250,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,54
3,4,70,RL,60.0,9550,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,205
4,5,60,RL,84.0,14260,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,92

In [23]:
data_shuffle = shuffle(data)
data_shuffle.head()
#data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,new_column
688,689,20,RL,60.0,8089,Pave,Grvl,3,HLS,AllPub,...,NaN,NaN,NaN,0,10,2007,New,Partial,392000,1419
1243,1244,20,RL,107.0,13891,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,NaN,0,9,2006,New,Partial,465000,2076
836,837,30,RM,90.0,8100,Pave,Pave,3,Lvl,AllPub,...,NaN,GdWo,NaN,0,6,2007,COD,Normal,153500,1559
1455,1456,60,RL,62.0,7917,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,NaN,0,8,2007,WD,Normal,175000,259
1377,1378,50,RL,60.0,10998,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,NaN,0,7,2009,WD,Normal,117000,364

In [24]:
# Normalize SalePrice data

normalizing = StandardScaler()
#data.SalePrice.head()
data["SalePrice_normalized"] = normalizing.fit_transform(np.asarray(data.SalePrice).reshape(-1, 1))
data["SalePrice_normalized"].head()
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,new_column,SalePrice_normalized
0,1,60,RL,65.0,8450,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,0,2,2008,WD,Normal,208500,2,0.347273
1,2,20,RL,80.0,9600,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,0,5,2007,WD,Normal,181500,1262,0.007288
2,3,60,RL,68.0,11250,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,0,9,2008,WD,Normal,223500,54,0.536154
3,4,70,RL,60.0,9550,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,0,2,2006,WD,Abnorml,140000,205,-0.515281
4,5,60,RL,84.0,14260,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,0,12,2008,WD,Normal,250000,92,0.869843

In [25]:
# FirePlace having value zero have FirePlaceQu as NaN. Also more than 25% of data is missing for FirePlaceQU.
#I think we can drop that column. (or not???? )

data[data.Fireplaces == 0].FireplaceQu

0       NaN
5       NaN
10      NaN
12      NaN
15      NaN
17      NaN
18      NaN
19      NaN
26      NaN
29      NaN
30      NaN
31      NaN
32      NaN
36      NaN
38      NaN
39      NaN
42      NaN
43      NaN
44      NaN
47      NaN
48      NaN
49      NaN
50      NaN
52      NaN
56      NaN
57      NaN
59      NaN
60      NaN
61      NaN
63      NaN
       ...
1391    NaN
1397    NaN
1398    NaN
1403    NaN
1404    NaN
1406    NaN
1407    NaN
1408    NaN
1410    NaN
1411    NaN
1412    NaN
1416    NaN
1418    NaN
1422    NaN
1425    NaN
1431    NaN
1432    NaN
1436    NaN
1438    NaN
1444    NaN
1445    NaN
1446    NaN
1448    NaN
1449    NaN
1450    NaN
1452    NaN
1453    NaN
1454    NaN
1458    NaN
1459    NaN
Name: FireplaceQu, Length: 690, dtype: object

In [26]:
# filling the missing values of "GarageYrBlt" with mean.(remember checking the mean to the appropriate datatype 
# Year cant be fractional)


mean_garage = (int)(data.GarageYrBlt.mean())
data.GarageYrBlt.isnull().sum()
data.GarageYrBlt.fillna(value=mean_garage,inplace=True)
data.GarageYrBlt

0       2003.0
1       1976.0
2       2001.0
3       1998.0
4       2000.0
5       1993.0
6       2004.0
7       1973.0
8       1931.0
9       1939.0
10      1965.0
11      2005.0
12      1962.0
13      2006.0
14      1960.0
15      1991.0
16      1970.0
17      1967.0
18      2004.0
19      1958.0
20      2005.0
21      1930.0
22      2002.0
23      1976.0
24      1968.0
25      2007.0
26      2005.0
27      2008.0
28      1957.0
29      1920.0
         ...
1430    2005.0
1431    1976.0
1432    1928.0
1433    2000.0
1434    1977.0
1435    1962.0
1436    1974.0
1437    2008.0
1438    1957.0
1439    1979.0
1440    1993.0
1441    2004.0
1442    2008.0
1443    1916.0
1444    2004.0
1445    1990.0
1446    1962.0
1447    1995.0
1448    1950.0
1449    1978.0
1450    1978.0
1451    2008.0
1452    2005.0
1453    1978.0
1454    2004.0
1455    1999.0
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1460, dtype: float64

In [27]:
# For continuous variables is it good always to fill with mean value of column??

# No. here we can see that the garage Area is 0 where garageYrBlt(year the garage was built) is Na. Thus replace with mean
# doesnt define anything

In [28]:
#len(data.select_dtypes(include=['O']).columns.values) (Is this the correct way? )
list(set(data.columns) - set(data.select_dtypes(include=['O']).columns.values))  ## all columns - categorical columns

['GarageArea',
 'LowQualFinSF',
 'WoodDeckSF',
 'MiscVal',
 'GarageCars',
 '2ndFlrSF',
 'TotRmsAbvGrd',
 'LotShape',
 'EnclosedPorch',
 'BsmtFinSF2',
 'BsmtHalfBath',
 'SalePrice_normalized',
 'Id',
 'FullBath',
 'Fireplaces',
 '1stFlrSF',
 'BedroomAbvGr',
 '3SsnPorch',
 'new_column',
 'OverallQual',
 'BsmtFullBath',
 'BsmtUnfSF',
 'GarageYrBlt',
 'SalePrice',
 'OverallCond',
 'MSSubClass',
 'GrLivArea',
 'PoolArea',
 'YrSold',
 'MoSold',
 'MasVnrArea',
 'LotFrontage',
 'YearBuilt',
 'KitchenAbvGr',
 'ScreenPorch',
 'YearRemodAdd',
 'BsmtFinSF1',
 'TotalBsmtSF',
 'HalfBath',
 'OpenPorchSF',
 'LotArea']

In [29]:
# validation data (Is this the correct way? )

test_data = pd.read_csv('test.csv');
test,validation = train_test_split(test_data,test_size=0.1)

In [30]:
#column wise shuffle   ( Need solution )

df = pd.DataFrame(data)
df.head()
#df1.reset_index(inplace=True, drop=True)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,new_column,SalePrice_normalized
0,1,60,RL,65.0,8450,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,0,2,2008,WD,Normal,208500,2,0.347273
1,2,20,RL,80.0,9600,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,0,5,2007,WD,Normal,181500,1262,0.007288
2,3,60,RL,68.0,11250,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,0,9,2008,WD,Normal,223500,54,0.536154
3,4,70,RL,60.0,9550,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,0,2,2006,WD,Abnorml,140000,205,-0.515281
4,5,60,RL,84.0,14260,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,0,12,2008,WD,Normal,250000,92,0.869843

In [31]:
# One-hot encoding on YrSold, SaleType and SaleCondition columns


##  http://queirozf.com/entries/one-hot-encoding-a-feature-on-a-pandas-dataframe-an-example

# To add the columns of one hot encoding data to the dataframe use the following command

# pd.concat([df,pd.get_dummies(df['country'], prefix='country')],axis=1)

# df.drop(['country'],axis=1, inplace=True)     --- This is done to drop the original country columns(since we do not need it anymore)

pd.get_dummies(data.YrSold,prefix=['YrSold'])
pd.get_dummies(data.SaleType,prefix=['SaleType'])
pd.get_dummies(data.SaleCondition,prefix=['SaleCondition'])

,['SaleCondition']_Abnorml,['SaleCondition']_AdjLand,['SaleCondition']_Alloca,['SaleCondition']_Family,['SaleCondition']_Normal,['SaleCondition']_Partial
0,0,0,0,0,1,0
1,0,0,0,0,1,0
2,0,0,0,0,1,0
3,1,0,0,0,0,0
4,0,0,0,0,1,0
5,0,0,0,0,1,0
6,0,0,0,0,1,0
7,0,0,0,0,1,0
8,1,0,0,0,0,0
9,0,0,0,0,1,0
10,0,0,0,0,1,0
11,0,0,0,0,0,1
12,0,0,0,0,1,0
13,0,0,0,0,0,1
14,0,0,0,0,1,0
15,0,0,0,0,1,0
16,0,0,0,0,1,0
17,0,0,0,0,1,0
18,0,0,0,0,1,0
19,1,0,0,0,0,0
20,0,0,0,0,0,1
21,0,0,0,0,1,0
22,0,0,0,0,1,0
23,0,0,0,0,1,0
24,0,0,0,0,1,0
25,0,0,0,0,1,0
26,0,0,0,0,1,0
27,0,0,0,0,1,0
28,0,0,0,0,1,0
29,0,0,0,0,1,0
...,...,...,...,...,...,...
1430,0,0,0,0,1,0
1431,0,0,0,0,1,0
1432,0,0,0,0,1,0
1433,0,0,0,0,1,0
1434,0,0,0,0,1,0
1435,1,0,0,0,0,0
1436,0,0,0,0,1,0
1437,0,0,0,0,0,1
1438,0,0,0,0,1,0
1439,0,0,0,0,1,0
1440,0,0,0,0,1,0
1441,0,0,0,0,1,0
1442,0,0,0,0,1,0
1443,0,0,0,0,1,0
1444,0,0,0,0,1,0
1445,0,0,0,0,1,0
1446,0,0,0,0,1,0
1447,0,0,0,0,1,0
1448,0,0,0,0,1,0
1449,1,0,0,0,0,0
1450,0,0,0,0,1,0
1451,0,0,0,0,0,1
1452,0,0,0,0,1,0
1453,1,0,0,0,0,0
1454,0,0,0,0,1,0
1455,0,0,0,0,1,0
1456,0,0,0,0,1,0
1457,0,0,0,0,1,0
1458,0,0,0,0,1,0
1459,0,0,0,0,1,0

In [32]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,new_column,SalePrice_normalized
0,1,60,RL,65.0,8450,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,0,2,2008,WD,Normal,208500,2,0.347273
1,2,20,RL,80.0,9600,Pave,Grvl,3,Lvl,AllPub,...,NaN,NaN,0,5,2007,WD,Normal,181500,1262,0.007288
2,3,60,RL,68.0,11250,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,0,9,2008,WD,Normal,223500,54,0.536154
3,4,70,RL,60.0,9550,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,0,2,2006,WD,Abnorml,140000,205,-0.515281
4,5,60,RL,84.0,14260,Pave,Grvl,0,Lvl,AllPub,...,NaN,NaN,0,12,2008,WD,Normal,250000,92,0.869843